@font-face {
  font-family: 'CascidaCode';
  font-style: normal;
  font-weight: 200;
  src: url('$lib/assets/CascadiaCode/static/CascadiaCode-Light.ttf');
}

@font-face {
  font-family: 'CascidaCode';
  font-style: normal;
  font-weight: 400;
  src: url('$lib/assets/CascadiaCode/static/CascadiaCode-Regular.ttf');
}

@font-face {
  font-family: 'CascidaCode';
  font-style: normal;
  font-weight: 800;
  src: url('$lib/assets/CascadiaCode/static/CascadiaCode-Bold.ttf');
}

@font-face {
  font-family: 'CascidaCode';
  font-style: italic;
  font-weight: 200;
  src: url('$lib/assets/CascadiaCode/static/CascadiaCode-LightItalic.ttf');
}
@font-face {
  font-family: 'CascidaCode';
  font-style: italic;
  font-weight: 400;
  src: url('$lib/assets/CascadiaCode/static/CascadiaCode-Italic.ttf');
}

@font-face {
  font-family: 'CascidaCode';
  font-style: italic;
  font-weight: 800;
  src: url('$lib/assets/CascadiaCode/static/CascadiaCode-BoldItalic.ttf');
}

